﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditViewModel

@{
    var isRegisterView = ViewBag.isRegisterView;
}

<div class="col-xs-12 col-sm-12 padding-top10">
    <div class="col-xs-12 col-sm-12 linebutton ">
        <label>@Strings.PasswordTitle</label>
    </div>
    @if (!isRegisterView)
    {
        <div class="col-xs-12 col-sm-4 padding-top10">
            <label>@Strings.OldPassword</label>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = @Strings.OldPassword, data_val_length = Strings.PasswordRules, data_val_required = Strings.RequiredField })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    }
    <div class="col-xs-12 col-sm-4 padding-top10">
        <label>@Strings.UserPassword</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Strings.UserPassword, data_val_length = Strings.PasswordRules, data_val_required = Strings.RequiredField })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="col-xs-12 col-sm-4 padding-top10">
        <label>@Strings.UserConfirmPassword</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Strings.UserConfirmPassword, data_val_equalto = Strings.PassNotEqual, data_val_length = Strings.PasswordRules, data_val_required = Strings.RequiredField })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
</div>