﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditViewModel

<div class="container">
    <div class="col-xs-12 col-sm-12">
        <h1>@Strings.PersonalProfile</h1>
        <div class="line-title"></div>
        <h4 class="subtitle">@ViewBag.Title.</h4>
    </div>
    @using (Html.BeginForm("EditUser", "Account", new { Id = Model.Id, returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("EditPersonalInfo")

        <div class="col-md-offset-10 col-sm-2 col-xs-12 padding-top10">
            <button type="submit" class="btn btn-primary pull-right">@Strings.ConfirmButton</button>
        </div>
    }

    @if (ViewBag.ReturnUrl == null)
    {
        using (Html.BeginForm("ChangePassword", "Manage", new { Id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("EditPassword")

            <div class="col-md-offset-10 col-sm-2 col-xs-12 padding-top10">
                <button type="submit" class="btn btn-primary pull-right">@Strings.ChangePassword</button>
            </div>
        }
    }

    @if (ViewBag.ReturnUrl != null)
    {
        <div>
            <button type="button" class="btn btn-default"
                    onclick="window.location.href = '@ViewBag.ReturnUrl'">
                @Strings.BackToEditComunity
            </button>
        </div>
    }
</div>