﻿@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@model MyNeighborhood.Models.EditViewModel

@{
    var isAdmin = User.IsInRole(RoleNames.RoleAdministrator);
    var isDirectorsBoard = User.IsInRole(RoleNames.RoleDirectorsBorard);
}

<div class="col-xs-12 col-sm-12 padding-top10">
    <div class="col-xs-12 col-sm-12 linebutton padding-bottom10">
        <label>@Strings.PersonalInfoTitle</label>
    </div>
    @if (isAdmin || isDirectorsBoard)
    {
        <div class="col-xs-12 col-sm-4 padding-top10">
            <label>@Strings.UserRole</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <select class="form-control" id="Role" name="Role">
                        @foreach (string item in Model.ListRoleNames)
                        {
                            <option value="@item"
                                    @if (item == Model.Role) { @: selected
                                    }
                                    id="selectedRole-@item">
                                @item
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        //@Html.DropDownList("ComunityId", null, htmlAttributes: new { @class = "form-control", hidden="hidden"}) TODO select de comunidades como el de Presidents
    }
    <div class="col-xs-12 col-sm-4 padding-top10">
        <label>@Strings.UserName</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Strings.UserName, data_val_required = Strings.RequiredField })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="col-xs-12 col-sm-4 padding-top10">
        <label>@Strings.UserSurname</label>
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = Strings.UserSurname, data_val_required = Strings.RequiredField })
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
    </div>
    <div class="col-xs-12 col-sm-4 padding-top10">
        <label>@Strings.UserEmail</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Strings.UserEmail, data_val_required = Strings.RequiredField })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="col-xs-12 col-sm-4 padding-top10">
        <label>@Strings.UserBirthDate</label>
        @(Model?.BirthDate != null ? Html.TextBoxFor(m => m.BirthDate, Model.BirthDate?.ToString("dd\\/MM\\/yyyy"), new { @class = "form-control", placeholder = @Strings.UserBirthDate }) : Html.TextBoxFor(m => m.BirthDate, "dd\\/MM\\/yyyy", new { type = "date", @class = "form-control", placeholder = @Strings.UserBirthDate }))
        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
    </div>
</div>
