﻿@using System.Globalization
@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@model IEnumerable<MyNeighborhood.Models.ApplicationUser>

@{
    var isAdmin = User.IsInRole(RoleNames.RoleAdministrator);
}

<section>
    <div class="container">
        @if (isAdmin)
        {
            <div class="padding-bottom10">
                <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("RegisterUser", "Account", new { returnUrl = ViewBag.ReturnUrl })'">@Strings.CreateUser</button>
            </div>
        }
        <table class="dataTable stripe row-border hover collapsed table-responsive" data-responsive='{"details":{"type":"column", "target":3}}'>
            <thead>
            <tr>
                <th>@Strings.UserName</th>
                <th>@Strings.UserSurname</th>
                <th>@Strings.UserEmail</th>
                <th>@Strings.UserBirthDate</th>
                <th>@Strings.UserStatus</th>
                <th data-priority="1">&nbsp;</th>
                <th data-priority="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.UserInfo.Name)</td>
                    <td>@Html.DisplayFor(m => item.UserInfo.Surname)</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@(item.UserInfo.BirthDate != null ? item.UserInfo.BirthDate.Value.Date.ToShortDateString().ToString(CultureInfo.CurrentCulture) : Strings.EmptyBirthDate)</td>
                    <td>@(item.UserInfo.Status == Status.Activate ? Strings.Enabled : Strings.Disabed)</td>
                    <td>
                        <button type="button" class="btn btn-primary" @(item.UserInfo.Status == Status.Deactivate ? "disabled" : "")
                                onclick="window.location.href = '@Url.Action("EditUser", "Account", new { userId = item.Id, returnUrl = ViewBag.ReturnUrl })'">@Strings.Edit</button>
                        <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("ChangeStatus", "Account", new { userId = item.Id, returnUrl = ViewBag.ReturnUrl })'">@(item.UserInfo.Status == Status.Activate ? Strings.Disable : Strings.Enable)</button>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>