﻿@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>@ViewBag.Title.</h2>
<section>
    <div class="container">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@Strings.LoginText</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-sm-12 col-xs-12 padding0">
                <div class="col-sm-3 col-xs-12">
                    <span>@Strings.UserEmail</span>
                </div>
                <div class="col-sm-9 col-xs-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 padding0 padding-top10">
                <div class="col-sm-3 col-xs-12">
                    <span>@Strings.UserPassword</span>
                </div>
                <div class="col-sm-9 col-xs-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-3 col-xs-12 padding-top10">
                <a class="btn btn-success" href="@Url.Action("RegisterUser")">@Strings.RegisterNeighborTitle</a>
            </div>

            <div class="col-sm-2 col-xs-12 padding-top10">
                <button type="submit" class="btn btn-primary">@Strings.ButtonLogin</button>
            </div>
        }
    </div>
</section>