﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditViewModel
@{
    ViewBag.Title = Request.IsAuthenticated ? Strings.RegisterUser : Strings.RegisterNeighborTitle;
}

<div class="container">
    <div class="col-xs-12 col-sm-12">
        <h1>@Strings.RegisterTitle</h1>
        <div class="line-title"></div>
        <h4 class="subtitle">@ViewBag.Title.</h4>
    </div>
    @using (Html.BeginForm("RegisterUser", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("EditPersonalInfo")
        @Html.Partial("EditPassword")

        <div class="col-md-offset-10 col-sm-2 col-xs-12 padding-top10">
            <button type="submit" class="btn btn-primary pull-right">@Strings.RegisterButton</button>
        </div>
    }

    @if (ViewBag.ReturnUrl != null)
    {
        <div>
            <button type="button" class="btn btn-default"
                    onclick="window.location.href = '@ViewBag.ReturnUrl'">
                @Strings.BackToEditComunity
            </button>
        </div>
    }
</div>
