﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditPropertyViewModel

@{
    ViewBag.Title = Strings.CretePropertiesTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Property", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("EditPropertyInfo")
}

@if (ViewBag.ReturnUrl != null)
{
    <div>
        <button type="button" class="btn btn-default"
                onclick="window.location.href = '@ViewBag.ReturnUrl'">
            @Strings.BackToEditComunity
        </button>
    </div>
}
else
{
    <div>
        <button type="button" class="btn btn-default"
                onclick="window.location.href = '@Url.Action("Index", "Property")'">
            @Strings.BackToList
        </button>
    </div>
}
