﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditPropertyViewModel

<div class="form-horizontal">
    <h4>Property</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">@Strings.PropertyNumber</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Num, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Num, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Strings.PropertyFloor</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Floor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Floor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Strings.PropertyDoor</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Door, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Door, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Strings.PropertyOwner</label>
        <div class="col-md-10">
            @Html.DropDownList("OwnerId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Strings.PropertyComunity</label>
        <div class="col-md-10">
            @Html.DropDownList("ComunityId", null, htmlAttributes: new { @class = "form-control", required = "true" })
            @Html.ValidationMessageFor(model => model.ComunityId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Strings.PropertyType</label>
        <div class="col-md-10">
            @Html.DropDownList("TypePropertyId", null, htmlAttributes: new { @class = "form-control", required = "true" })
            @Html.ValidationMessageFor(model => model.TypePropertyId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
            <button type="submit" class="btn btn-primary">@Strings.ConfirmButton</button>
        </div>
    </div>
</div>