﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditPropertyViewModel

@{
    ViewBag.Title = Strings.EditPropertiesTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Property", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Partial("EditPropertyInfo")
}

@if (ViewBag.ReturnUrl != null)
{
    <div>
        <button type="button" class="btn btn-default"
                onclick="window.location.href = '@ViewBag.ReturnUrl'">
            @Strings.BackToEditComunity
        </button>
    </div>
}
else
{
    <div>
        <button type="button" class="btn btn-default"
                onclick="window.location.href = '@Url.Action("Index", "Property")'">
            @Strings.BackToList
        </button>
    </div>
}



<script>
    $(document).ready(function() {
        $("#OwnerId").val('@(Model?.OwnerId ?? 0)');
        $("#ComunityId").val('@(Model?.ComunityId)');
        $("#TypePropertyId").val('@(Model?.TypePropertyId)');
    });
</script>
