﻿@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@model IEnumerable<MyNeighborhood.Models.Property>

@{
    var isAdmin = this.User.IsInRole(RoleNames.RoleAdministrator);
    var isNeighbor = this.User.IsInRole(RoleNames.RoleNeighbor);
}

<section>
    <div class="container">
        @if (!isNeighbor)
        {
            <div class="padding-bottom10">
                <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Create", "Property", new { returnUrl = ViewBag.ReturnUrl })'">@Strings.CreateProperty</button>
            </div>
        }
        <table class="dataTable stripe row-border hover collapsed table-responsive" data-responsive='{"details":{"type":"column", "target":3}}'>
            <thead>
                <tr>
                    <th>@Strings.PropertyNumber</th>
                    <th>@Strings.PropertyFloor</th>
                    <th>@Strings.PropertyDoor</th>
                    <th>@Strings.PropertyOwner</th>
                    <th>@Strings.PropertyComunity</th>
                    <th>@Strings.PropertyType</th>
                    <th data-priority="1">&nbsp;</th>
                    <th data-priority="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Number)</td>
                        <td>@Html.DisplayFor(m => item.Floor)</td>
                        <td>@Html.DisplayFor(m => item.Door)</td>
                        <td>@Html.DisplayFor(m => item.UserInfo.Name)</td>
                        <td>@Html.DisplayFor(m => item.Comunity.Name)</td>
                        <td title="@item.Type.Description">@Html.DisplayFor(m => item.Type.Name)</td>
                        <td>
                            @if (!isNeighbor)
                            {
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href = '@Url.Action("Edit", "Property", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })'">
                                    @Strings.Edit
                                </button>
                            }
                            @if (isAdmin)
                            {
                                <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("Delete", "Property", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })'">@Strings.Delete</button>
                            }
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>