﻿@using MyNeighborhood.App_GlobalResources
<!DOCTYPE html>
<html>
@Html.Partial("Head"); 
<body>
    @Html.Partial("Header")
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("Footer");
</body>
</html>