﻿@using Microsoft.AspNet.Identity
@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models

@{
    var isDirectorsBoard = User.IsInRole(RoleNames.RoleDirectorsBorard);
    var isAdmin = User.IsInRole(RoleNames.RoleAdministrator);
    var isNeighbor = User.IsInRole(RoleNames.RoleNeighbor);
}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                @if (!Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Strings.Home, "Index", "Home")</li>
                        <li>@Html.ActionLink(Strings.AboutUs, "About", "Home")</li>
                        <li>@Html.ActionLink(Strings.Contact, "Contact", "Home")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("EditUser", "Account", new { userId = User.Identity.GetUserId() })">@Strings.Profile</a></li>
                        @if (isAdmin)
                        {
                            <li><a href="@Url.Action("Index", "Account", new { userId = User.Identity.GetUserId() })">@Strings.UsersTitle</a></li>
                            <li><a href="@Url.Action("Index", "Property")">@Strings.PropertiesTitle</a></li>
                        }
                        @if (isDirectorsBoard || isAdmin)
                        {
                            <li><a href="@Url.Action("Index", "Comunities")">@Strings.ComunitiesTitle</a></li>
                        }
                        @if (isNeighbor)
                        {
                            <li><a href="@Url.Action("IndexNeihbor", "Property", new { neighborId = User.Identity.GetUserId() })">@Strings.PropertiesTitle</a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<!-- Custom scripts for this template -->

<script type="text/javascript" src="~/Scripts/Custom.js"></script>

<!-- Datatable -->
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTable').DataTable({
            responsive: true,
        });
    });
</script>