﻿@using MyNeighborhood.App_GlobalResources
<title>@Strings.MyNeighborhoodTitle</title>

<link rel="stylesheet" href="~/Content/Site.css">

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">

<!-- BOOTSTRAP core 3 -->
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="~/Content/css/datatables.min.css" />
<!--JQuery-->
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>

<!-- FAVICON -->
<!-- link rel="shortcut icon" href="~/Content/img/favicon.png" />
<link rel="apple-touch-icon" href="~/Content/img/favicon.png" -->
