﻿@using Microsoft.AspNet.Identity
@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@{
    var isDirectorsBoard = User.IsInRole(RoleNames.RoleDirectorsBorard);
    var isAdmin = User.IsInRole(RoleNames.RoleAdministrator);
    var isNeighbor = User.IsInRole(RoleNames.RoleNeighbor);
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Strings.MyNeighborhoodTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @if (!Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Strings.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Strings.AboutUs, "About", "Home")</li>
                    <li>@Html.ActionLink(Strings.Contact, "Contact", "Home")</li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("EditUser", "Account", new { userId = User.Identity.GetUserId() })">@Strings.Profile</a></li>
                    @if (isAdmin)
                    {
                        <li><a href="@Url.Action("Index", "Account", new { userId = User.Identity.GetUserId() })">@Strings.UsersTitle</a></li>
                        <li><a href="@Url.Action("Index", "Property")">@Strings.PropertiesTitle</a></li>
                    }
                    @if (isDirectorsBoard || isAdmin)
                    {
                        <li><a href="@Url.Action("Index", "Comunities")">@Strings.ComunitiesTitle</a></li>
                    }
                    @if (isNeighbor)
                    {
                        <li><a href="@Url.Action("IndexNeihbor", "Property", new { neighborId = User.Identity.GetUserId() })">@Strings.PropertiesTitle</a></li>
                    }
                </ul>
            }
            @Html.Partial("_LoginPartial")
            <ul id="listlanguage" class="nav navbar-right navbar-language">
                <li class="active" id="en" onclick="JsApp.changeLanguaje(this, '@(Url.Action("ChangeLanguage", "Home"))');" data-global="en">en</li>
                <li id="fr" onclick="JsApp.changeLanguaje(this, '@(Url.Action("ChangeLanguage", "Home"))');" data-global="es">es</li>
            </ul>
        </div>
    </div>
</div>