﻿@using MyNeighborhood.App_GlobalResources

<h2>@Strings.ContactTitle</h2>


<address>
    <strong>Support:</strong>   <a href="mailto:pascual.maestreserver@gmail.com">pascual.maestreserver@gmail.com</a><br />
</address>