﻿@using MyNeighborhood.App_GlobalResources
@{
    ViewBag.Title = @Strings.MyNeighborhoodTitle;
}

<section>
    <div class="container">
        <div class="jumbotron">
            <h1>@ViewBag.Title</h1>
            <p class="lead">@Strings.HomeIntroduction</p>
            <a class="btn btn-primary btn-lg" href='@Url.Action("Login", "Account")'>@Strings.ButtonLogin</a>
        </div>

        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-4 col-xs-12 padding-bottom10">
                <img src="~/Content/img/Comunity.svg" height="200px"/>
                <h2>@Strings.ComunityTitle</h2>
                <p class="padding-bottom10">@Strings.HomeComunityText</p>
            </div>

            <div class="col-sm-4 col-xs-12 padding-bottom10">
                <img src="~/Content/img/User.svg" height="200px" />
                <h2>@Strings.UsersTitle</h2>
                <p class="padding-bottom10">@Strings.HomeUsersText</p>
            </div>

            <div class="col-sm-4 col-xs-12 padding-bottom10">
                <img src="~/Content/img/house-1110868.svg" height="200px" />
                <h2>@Strings.PropertyTitle</h2>
                <p class="padding-bottom10">@Strings.HomePropertyText</p>
            </div>
            
            <div class="col-sm-4 col-xs-12 padding-bottom10">
                <img src="~/Content/img/Maintenance_comingSoon.png" height="200px" />
                <h2>@Strings.FacilitiesTitle</h2>
                <p class="padding-bottom10">@Strings.HomeFacilitiesText</p>
            </div>
            
            <div class="col-sm-4 col-xs-12 padding-bottom10">
                <img src="~/Content/img/Quiz_ComingSoon.png" height="200px" />
                <h2>@Strings.QuizTitle</h2>
                <p class="padding-bottom10">@Strings.HomeQuizText</p>
            </div>
            
            <div class="col-sm-4 col-xs-12 padding-bottom10">
                <img src="~/Content/img/Blog_ComingSoon.png" height="200px" />
                <h2>@Strings.BlogTitle</h2>
                <p class="padding-bottom10">@Strings.HomeBlogText</p>
            </div>
        </div>
    </div>
</section>
