﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Titles*/
.subtitle {
    color: grey;
}

.line-title {
    border-top: 2px solid #4040bf;
    width: 12%;
}

/*Sections*/
.linebutton {
    border-bottom: 1px solid #ddd;
    margin: 10px 10px 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #111;
}

/*Paddings*/
.padding-top10 {
    padding-top: 10px;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.padding0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*Navbar*/
.navbar-language li {
    color: grey;
    cursor: pointer;
}
    /*.navbar-language li.active {
    color: white;
    text-decoration: underline white;
    cursor: pointer;
}*/

    .navbar-language li:hover {
        color: white;
        cursor: pointer;
    }

/*Footer*/
.footer {
    padding: 25px 0;
    height: auto;
    z-index: 10;
    position: relative;
    background: black;
}

    .footer ul {
        background: black;
    }

        .footer ul li a {
            color: grey;
        }

        .footer ul li :hover {
            background-color: black !important;
            color: white;
        }
