﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.Comunity

@{
    ViewBag.Title = Strings.CreteComunityTitle;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("EditInfoComunity")
}

<div>
    <button type="button" class="btn btn-default" 
            onclick="window.location.href = '@Url.Action("Index", "Comunities")'">
        @Strings.BackToList
    </button>
</div>
