﻿@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@model MyNeighborhood.Models.EditComunityViewModel

<div class="form-horizontal">
    <h4>Comunity</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">@Strings.ComunityName</label>
        <div class="col-sm-10 col-xs-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Strings.ComunityAdress</label>
        <div class="col-sm-10 col-xs-12">
            @Html.EditorFor(model => model.StreetAdress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StreetAdress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" >@Strings.ComunityPresident</label>
        <div class="col-sm-10 col-xs-12">
            @Html.DropDownList("PresidentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PresidentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
            <button type="submit" class="btn btn-primary">@Strings.ConfirmButton</button>
        </div>
    </div>
</div>