﻿@using MyNeighborhood.App_GlobalResources
@model MyNeighborhood.Models.EditComunityViewModel

@{
    ViewBag.Title = Strings.EditComunityTitle;
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="container linebutton padding-bottom10">
        <div>
            <button type="button" class="btn btn-default"
                    onclick="window.location.href = '@Url.Action("Index", "Comunities")'">
                @Strings.BackToList
            </button>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.Partial("EditInfoComunity")
        }
    </div>
    <div class="linebutton padding-bottom10 padding-top10">
        <h4>@Strings.UsersTitle</h4>
        @Html.Action("IndexComunity", "Account", new { comunityId = Model.Id })
    </div>
    <div class="padding-bottom10 padding-top10">
        <h4>@Strings.PropertiesTitle</h4>
        @Html.Action("IndexComunity", "Property", new { comunityId = Model.Id })
    </div>
</section>
