﻿@using MyNeighborhood.App_GlobalResources
@using MyNeighborhood.Models
@model IEnumerable<MyNeighborhood.Models.Comunity>

@{
    var isAdmin = this.User.IsInRole(RoleNames.RoleAdministrator);
}

<section>
    <div class="container">
        @if (isAdmin)
        {
            <div class="padding-bottom10">
                <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Create", "Comunities")'">@Strings.CreateComunity</button>
            </div>
        }
        <table class="dataTable stripe row-border hover collapsed table-responsive" data-responsive='{"details":{"type":"column", "target":3}}'>
            <thead>
                <tr>
                    <th>@Strings.ComunityName</th>
                    <th>@Strings.ComunityAdress</th>
                    <th>@Strings.ComunityPresident</th>
                    <th>@Strings.ComunityNumberDirectorsBoard</th>
                    <th>@Strings.ComunityStatus</th>
                    <th data-priority="1">&nbsp;</th>
                    <th data-priority="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td>@Html.DisplayFor(m => item.StreetAdress)</td>
                        <td>@Html.DisplayFor(m => item.President.Name)</td>
                        <td>@Html.DisplayFor(m => item.DirectorBoardMembers.Count)</td>
                        <td>@(item.Status == Status.Activate ? Strings.Enabled : Strings.Disabed)</td>
                        <td>
                            <button type="button" class="btn btn-primary" @(item.Status == Status.Deactivate ? "disabled" : "")
                                    onclick="window.location.href = '@Url.Action("Edit", "Comunities", new { id = item.Id })'">
                                @Strings.Edit
                            </button>
                            @if (isAdmin)
                            {
                                <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("ChangeStatus", "Comunities", new { id = item.Id })'">@(item.Status == Status.Activate ? Strings.Disable : Strings.Enable)</button>
                            }
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>